{#
/**
 * @file
 * Default theme implementation to print Jobvite.
 *
 * Available variables:
 *   - job
 *
 * @see template_preprocess_loremipsum()
 *
 * @ingroup themeable
 */
#}

<div class="{{ classes }}" {{ attributes }}>
  <table class="table">
    {% for job in jobs %}
      <tr class="{{ cycle(['even','odd'],loop.index) }}">
        <td><a href="/{{job.path}}">{{ job.title }}</a></td>
        <td>{{ job.location }} </td>
      </tr>
    {% endfor %}
  </table>
</div>